.react-flow__node-elk {
  background: #f8f8f8;
  border-radius: 4px;
}

.react-flow__handle {
  position: relative;
  top: auto;
  transform: none;
  background: #224466;
}

.react-flow__handle-bottom, .react-flow__handle-top{
  left:  0px !important;
}

.label {
  padding: 10px;
  font-size: 12px;
}

.label {
  flex-grow: 1;
}

.handles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 10px;
  height: 100%;
  position: absolute;
}

.handles.sources {
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 30px;
  width: 100%;
  /* bottom: 0; */
}

.handles.targets {
  /* right: 8px; */
  width: 100%;

  top: -8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
